*{
    justify-content: center;
    align-items: center;
    margin: 0;
}

.heading {
    width: 100%;
}

.mid-section{
    margin: 0 23.5vw 0 23.5vw;
}

.left-section {
    float: left;
    width: 68%;
    margin-right: 2%;
}

.right-section {
    float: left;
    width: 30%;
}

.footer{
    width: 100%;
}